
// Palette color codes */
// Palette URL: http://paletton.com/#uid=b3v0a2S0kaKiE5esq8en4cdcojGbC */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #41535F;	// Main Primary color */
$color-primary-1: #7B8891;
$color-primary-2: #596A76;
$color-primary-3: #28363F;
$color-primary-4: #192E3B;

$color-secondary-1-0: #4A4B67;	// Main Secondary color (1) */
$color-secondary-1-1: #87889D;
$color-secondary-1-2: #646580;
$color-secondary-1-3: #2E2F45;
$color-secondary-1-4: #1E2040;

$color-secondary-2-0: #456757;	//Main Secondary color (2) */
$color-secondary-2-1: #849E91;
$color-secondary-2-2: #5F8070;
$color-secondary-2-3: #2A4538;
$color-secondary-2-4: #19402D;








* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

button:focus {outline:0;}

body {
  font-family: sans-serif;
  background-color: #2a3741;
}

h4 {
  color: #5C7080;
}

.welcome-splash button {
  margin-left: 10px;
}



.app-core {
  font-size: 16px;
  color: #727578;
  display: flex;
  width: 100vw;
}

.app-wrapper {
  min-width: 945px;
  max-width: 945px;
  min-height: 100vh;
  margin: 30px auto;
  
  box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.8);
  -moz-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.8);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.8);

  border-radius: 8px;
  display: flex;
  flex-direction: column;
}


.holygrail-header {
  min-width: 945px;
  min-height: 312px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  flex-direction: column;
}

.holygrail-header h1 {
  margin: 70px auto;
  font-size: 30px;
  color: orangered;
}

.holygrail-body {
  display: flex;
  flex: 1;
}

.holygrail-content {
  flex: 1;
}

.holygrail-left, .holygrail-right {
  flex: 0 0 12em;
}

.holygrail-left {
  order: -1;
}

.holygrail-footer {
  min-width: 945px;
  min-height: 223px;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  display: flex;
  flex-direction: column;
}

.footer-span {
  padding-top: 190px;
  padding-left: 20px;
}








