
// Palette color codes */
// Palette URL: http://paletton.com/#uid=b3v0a2S0kaKiE5esq8en4cdcojGbC */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #41535F;	// Main Primary color */
$color-primary-1: #7B8891;
$color-primary-2: #596A76;
$color-primary-3: #28363F;
$color-primary-4: #192E3B;

$color-secondary-1-0: #4A4B67;	// Main Secondary color (1) */
$color-secondary-1-1: #87889D;
$color-secondary-1-2: #646580;
$color-secondary-1-3: #2E2F45;
$color-secondary-1-4: #1E2040;

$color-secondary-2-0: #456757;	//Main Secondary color (2) */
$color-secondary-2-1: #849E91;
$color-secondary-2-2: #5F8070;
$color-secondary-2-3: #2A4538;
$color-secondary-2-4: #19402D;




.pt-input {
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  background: #090909;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 30px;
  color: #182026;
  font-size: 14px;
  font-weight: 400;
}

.pt-input::placeholder {
  opacity: 1;
  color: rgba(92, 112, 128, 0.5);
}

.pt-input:focus {
  box-shadow: 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2);
}