* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: sans-serif;
  background-color: #bdbfbe;
}

h2 {
  padding: 8px 5px;
}

button:focus {
  outline: 0;
}

.pt-control-indicator {
  outline: 0;
}

.pt-control-indicator:focus {
  outline: 0;
}

.pt-control input:focus ~ .pt-control-indicator {
  outline: 0;
}

.pt-create-booking-callout {
  margin: 20px 0;
}

.pt-dark {
  color: #d0d0d0;
}

.pt-dark .pt-datepicker {
  background-color: #2E2F45;
  border-radius: 0;
}

.pt-input-time-hour {
  margin-right: 5px;
}

.pt-dark .pt-datepicker .DayPicker-Day.DayPicker-Day--selected {
  background-color: rgb(57, 109, 78);
  outline: 0;
}

.pt-dark .pt-datepicker .DayPicker-Day.DayPicker-Day--selected:focus {
  outline: 0;
}



.pt-dark .pt-datepicker .DayPicker-Day.DayPicker-Day--selected:hover {
  background-color: rgb(40, 77, 54);
}

.pt-text-muted {
  margin-left: 5px;
}

.icon {
  margin-right: 6px;
}

.pt-elevation-0,
.pt-elevation-1 {
  margin: 20px 0;
}

.pt-intro-secondary {

}

.pt-intro-secondary button,
.pt-create-booking-callout button {
  margin-left: 4px;
  margin-right: 4px;
}




#formCollectInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formCollectInfo div {
  width: 65%;
}







.app-core {
  font-size: 16px;
  display: flex;
  width: 100vw;
}

.app-wrapper {
  min-width: 1045px;
  max-width: 1045px;
  min-height: 100vh;
  margin: 30px auto;
  background-color: #243731;
  
  box-shadow: 0px 0px 5px 2px rgba(119, 119, 119, 0.8);
  -moz-box-shadow: 0px 0px 5px 2px rgba(119, 119, 119, 0.8);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(119, 119, 119, 0.8);

  border-radius: 5px;
  display: flex;
  flex-direction: column;
}


.holygrail-header {
  min-width: 1045px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.holygrail-header h1 {
  margin: 10px auto;
  font-size: 30px;
  text-decoration: underline;
  text-shadow: 2px 2px 6px #2c2c2c;
}

.holygrail-body {
  display: flex;
  flex: 1;
}

.holygrail-content {
  flex: 1;
}

.holygrail-left {
  flex: 0 0 10em;
}

.holygrail-right {
  flex: 0 0 2em;
}

.holygrail-left {
  order: -1;
}

.holygrail-footer {
  min-width: 1045px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.footer-span {
  padding-top: 10px;
  padding-left: 20px;
}